<%- include('partials/header.ejs') %>

<h1>Thank You, <%= firstName %>!</h1>
<p>Here are the responses we received:</p>

<ul>
    <li><strong>Name:</strong> <%= firstName %> <%= surname %></li>
    <li><strong>Email:</strong> <%= email %></li>
    <li><strong>Age:</strong> <%= age %></li>
    <li><strong>Preferred Category/(ies):</strong> <%= drinkCategory %></li>
    <li><strong>Student:</strong> <%= isStudent %></li>
</ul>